* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;  
    font-family: Roboto;
    flex-direction: column;
    min-height: 100%;
    min-width: 900px; 
}

/* Page padding */

.header, .information, .action {
    padding: 0 10rem;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}


#logo-text {
    font-size: 24px;
}


